Repository KorenEzri/npm-registry, changes with the labels that .github/labeler.yml gives for each.
All labels: server, routes, types, pages, network, store, styles, package, workflows, tests

.github/labeler.yml:

server:
  - registry/src/**/*
routes:
  - registry/src/routes/**/*
types:
  - registry/src/types/**/*
pages:
  - registry/src/app/pages/**/*
network:
  - registry/src/network/**/*
store:
  - registry/src/store/**/*
styles:
  - registry/src/styles/**/*
package:
  - registry/package.json
workflows:
  - ./github/**/*
tests:
  - __tests__/**/*

fix: 🐛 remove cidi until I create a client
  .github/workflows/cicd.yml
  registry/.gitignore
Labels: none

feat: 🎸 Finish backend - /package route can now get transitives
  registry/__tests__/mocks/index.ts
  registry/__tests__/package.test.ts
  registry/__tests__/utils/index.ts
  registry/jest.config.js
  registry/package-lock.json
  registry/package.json
  registry/src/controllers/package-controller.ts
  registry/src/routes/v1/package.ts
  registry/src/types/dependency.ts
  registry/src/types/index.ts
  registry/tsconfig.json
Labels: server, routes, types, package

feat: 🎸 finish client: UI/UX and search functionality
  client/.gitignore
  client/README.md
  client/package-lock.json
  client/package.json
  client/src/app/components/Header/Loadable.ts
  client/src/app/components/Header/__tests__/index.test.tsx
  client/src/app/components/Header/index.tsx
  client/src/app/components/Inputs/Loadable.ts
  client/src/app/components/Inputs/__tests__/index.test.tsx
  client/src/app/components/Inputs/index.tsx
  client/src/app/components/MainContentFrame/Loadable.ts
  client/src/app/components/MainContentFrame/__tests__/index.test.tsx
  client/src/app/components/MainContentFrame/index.tsx
  client/src/app/components/MainDataGrid/Loadable.ts
  client/src/app/components/MainDataGrid/__tests__/index.test.tsx
  client/src/app/components/MainDataGrid/index.tsx
  client/src/app/components/index.ts
  client/src/app/index.tsx
  client/src/app/pages/HomePage/index.tsx
  client/src/app/slice/index.ts
  client/src/app/slice/selectors.ts
  client/src/app/slice/types.ts
  client/src/index.tsx
  client/src/network/index.ts
  client/src/network/publicFetch.ts
  client/src/types/RootState.ts
  client/src/types/common.ts
  client/src/types/index.ts
  client/src/types/package.ts
  client/src/utils/createPackageObj.ts
  client/tsconfig.json
  registry/package-lock.json
  registry/package.json
  registry/src/app.ts
  registry/src/routes/v1/package.ts
  registry/src/types/common.ts
  registry/src/types/index.ts
  registry/src/utils/createError.util.ts
  registry/src/utils/index.ts
Labels: server, routes, types, package

ci: 🎡 Change from BrowserRouter to HashRouter for Ci/CD on GH
  client/package-lock.json
  client/package.json
  client/src/app/index.tsx
Labels: none

Updates
  asset-manifest.json
  favicon.ico
  index.html
  logo192.png
  logo512.png
  manifest.json
  robots.txt
  static/css/4.e6924ae7.chunk.css
  static/js/0.ebf75578.chunk.js
  static/js/0.ebf75578.chunk.js.LICENSE.txt
  static/js/1.2acaa463.chunk.js
  static/js/1.2acaa463.chunk.js.LICENSE.txt
  static/js/10.dba11ec7.chunk.js
  static/js/11.965c802f.chunk.js
  static/js/12.60ab9319.chunk.js
  static/js/4.02ff7407.chunk.js
  static/js/4.02ff7407.chunk.js.LICENSE.txt
  static/js/5.0ff846b6.chunk.js
  static/js/5.0ff846b6.chunk.js.LICENSE.txt
  static/js/6.40978552.chunk.js
  static/js/7.2145b078.chunk.js
  static/js/8.03effce4.chunk.js
  static/js/9.7ea229a6.chunk.js
  static/js/main.3c03609e.chunk.js
  static/js/runtime-main.06a5dbce.js
Labels: none

Update app.ts
  registry/src/app.ts
Labels: server

Delete cicd.yml
  .github/workflows/cicd.yml
Labels: none

UI/UX: add a spinner
  client/src/app/components/Inputs/index.tsx
  client/src/app/components/MainContentFrame/index.tsx
  client/src/app/components/MainDataGrid/index.tsx
  client/src/app/components/Spinner/Loadable.ts
  client/src/app/components/Spinner/SmallSpinner/index.tsx
  client/src/app/components/Spinner/SubmitLoader/Loadable.ts
  client/src/app/components/Spinner/SubmitLoader/__tests__/__snapshots__/index.test.tsx.snap
  client/src/app/components/Spinner/SubmitLoader/__tests__/index.test.tsx
  client/src/app/components/Spinner/SubmitLoader/index.tsx
  client/src/app/components/Spinner/__tests__/__snapshots__/index.test.tsx.snap
  client/src/app/components/Spinner/__tests__/index.test.tsx
  client/src/app/components/Spinner/index.tsx
  client/src/app/components/Spinner/spinner-styles.ts
  client/src/app/components/index.ts
  client/src/types/index.ts
  client/src/types/spinner.ts
Labels: none
